.cart1 {
  background-image: url("https://i.ibb.co/hdNGJq7/sundorbon.png");

  width: 270px;
  height: 416px;
  background-repeat: no-repeat;
  background-size: cover;
}
.cart2 {
  background-image: url("https://i.ibb.co/w7wh96B/Rectangle-1.png");

  width: 270px;
  height: 416px;
  background-repeat: no-repeat;
  background-size: cover;
}
.cart3 {
  background-image: url("https://i.ibb.co/vVGT6V2/Sreemongol.png");

  width: 270px;
  height: 416px;
  background-repeat: no-repeat;
  background-size: cover;
}
.cart5 {
  background-image: url("https://i.ibb.co/3pjvf9P/Rectangle-28.png");

  width: 270px;
  height: 416px;
  background-repeat: no-repeat;
  background-size: cover;
}

.cart4 {
  background-image: url("https://i.ibb.co/6wzbd1r/Sajek.png");

  width: 270px;
  height: 416px;
  background-repeat: no-repeat;
  background-size: cover;
}
